#QNO.1 ANS
1.pandas.read_csv(): This function reads a CSV file into a pandas DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxonomy.csv')

In [3]:
df.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

2.pandas.DataFrame.dropna(): This function removes all the rows with missing values from a DataFrame

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, 7, 8]})
df =df.dropna()

In [7]:
print(df)

     A    B
0  1.0  5.0
3  4.0  8.0

3.pandas.DataFrame.groupby(): This function groups the DataFrame by one or more columns and applies a function to each group

In [9]:
import pandas as pd
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Charlie'], 'Score': [90, 85, 70, 95, 80]})

grouped = df.groupby('Name').mean()

print(grouped)

         Score
Name
Alice     92.5
Bob       85.0
Charlie   75.0

4.pandas.DataFrame.merge(): This function merges two DataFrames based on a common column.

In [10]:
import pandas as pd

left_df = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right_df = pd.DataFrame({'key': ['B', 'C', 'D'], 'value': [4, 5, 6]})

merged = pd.merge(left_df, right_df, on='key')

print(merged)

  key  value_x  value_y
0   B        2        4
1   C        3        5

5.pandas.DataFrame.to_csv(): This function writes a DataFrame to a CSV file.

In [12]:
import pandas as pd

df = pd.DataFrame({'Name': ['Rishu', 'Sidhu', 'Charlie'], 'Score': [90, 85, 70]})

df.to_csv('data.csv', index=False)

df2 = pd.read_csv('data.csv')

print(df2)

      Name  Score
0    Rishu     90
1    Sidhu     85
2  Charlie     70

#QNO.2 ANS

In [20]:
import pandas as pd

def reindex_df(df):
    num_rows = df.shape[0]
    new_index = pd.Index(range(1, num_rows * 2, 2))
    df.index = new_index
    
    return df

In [21]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df = reindex_df(df)
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

#QNO.3 ANS

In [22]:
import pandas as pd

def calculate_sum(df):
    total = 0
    
    for i in range(3):
        
        total += df.loc[i, 'Values']
        
    print('the sum of hte first three values in the "Values" column is:',total)

In [23]:
df = pd.DataFrame({'Values':[1,2,3]})
calculate_sum(df)

the sum of hte first three values in the "Values" column is: 6

#QNO.4 ANS

In [24]:
import pandas as pd
def add_word_count_column(df):
    
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

In [25]:
df = pd.DataFrame({'Text':['I am learning data science ','i am a good learner ']})
df = add_word_count_column(df)
print(df)

                          Text  Word_Count
0  I am learning data science            5
1         i am a good learner            5

#QNO.5 ANS

DataFrame.size() and DataFrame.shape() are both methods in Pandas DataFrame, but they return different values.

DataFrame.shape() returns a tuple of the dimensions of the DataFrame, i.e., the number of rows and columns in the DataFrame, in the form of (number of rows, number of columns). For example, if a DataFrame has 5 rows and 3 columns, the output of DataFrame.shape() would be (5, 3).

DataFrame.size() returns the total number of elements in the DataFrame, i.e., the product of the number of rows and the number of columns. For example, if a DataFrame has 5 rows and 3 columns, the output of DataFrame.size() would be 15.

#QNO.6 ANS

In [27]:
import pandas as pd

df = pd.read_excel('filename.xlsx')

#QNO.7 ANS

In [28]:
import pandas as pd
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

In [29]:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'joe.bloggs@example.com']})
df = extract_username(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1    jane.doe@example.com    jane.doe
2  joe.bloggs@example.com  joe.bloggs

#QNO.8

In [34]:
import pandas as pd
def selected_rows(df):
    selected_rows = df[(df['A']>5)&(df['B']<10)]
    return selected_rows

In [36]:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_df = selected_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#QNO.9 ANS

In [39]:
import pandas as pd
def calculate_stats(df):
    mean = df['Values'].mean()
    median=df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean,median,std_dev

In [41]:
df = pd.DataFrame({'Values':[2,4,6,8,10]})
mean , median, std_dev = calculate_stats(df)

print('Mean:', mean)
print('Median:', median)
print('Stanard deviation:', std_dev)

Mean: 6.0
Median: 6.0
Stanard deviation: 3.1622776601683795

#QNO.10

In [42]:
import pandas as pd

def add_moving_average(df):
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [43]:
df = pd.DataFrame({
    'Date': pd.date_range('2022-01-01', periods=10),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

df = add_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

#QNO.11 ANS

In [9]:
import pandas as pd

def add_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])

    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

In [10]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

#QNO.12 ANS

In [13]:
import pandas as pd

def select_january_rows(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

In [14]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-02-01', '2023-02-02']})
selected_df = select_january_rows(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03

#QNO.13

In [15]:
df = pd.DataFrame({'Column1': [1, 2, 3], 'Column2': ['A', 'B', 'C']})
print(df)

   Column1 Column2
0        1       A
1        2       B
2        3       C